.work {
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 148px;

  @include exceptMob {
    margin-bottom: 120px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    color: #253757;
    padding: 72px 0 56px;
    margin: 0;

    @include exceptMob {
      padding: 128px 0 64px;
    }
  }

  &__container {
    text-align: center;
    margin-bottom: 56px;

    @include exceptMob {
      margin: 0;
    }

    &--last {
      margin-bottom: 0;
    }
  }
}

.work-item {

  &__photo-container {
    display: block;
    margin: 0 auto 32px;

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &--end {
    padding-bottom: 72px;

    @include onDesktop {
      padding-bottom: 134px;
    }

    @include onTablet {
      padding-bottom: 128px;
    }
  }

  &__photo {
    width: 184px;
    height: 164px;
    border-radius: 30px;
  }

  &__name {
    margin: 0 0 16px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #253757;
  }

  &__about {
    margin-bottom: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;

    @include onDesktop {
      margin-bottom: 134px;
    }
  }
}
